.choose-token-button {
	display: flex;
	align-items: center;
	gap: 8px;
	position: relative;
	width: fit-content;
	height: 30px;
	min-width: 109px;	
	background: #FFFFFF;
	border: 1px solid #E2E6EE;
	border-radius: 20px;
	text-decoration: none;
	color: var(--font-dark);
	cursor: pointer;
	padding: 0 29px 0 5px;

	&::after {
		content: '';
		display: block;
		width: 8px;
		height: 5px;
		background: url('../img/bottom-up-arrow.svg') no-repeat center;
		background-size: contain;
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__icons {
		position: relative;
		width: 20px;
		height: 20px;		
	}

	&__icon {
		position: absolute;

		&_token {
			top: 50%;
			left: 0;
			width: 20px;
			height: 20px;
			transform: translateY(-50%);
		}

		&_network {
			bottom: -3px;
			right: -.3125vw;
			width: 12px;
			height: 12px;
			border: white 1px solid;
			border-radius: 50%;
		}
	}

	&__value {
		display: flex;
		flex-direction: column;
		align-items: flex-start;		
	}

	&__token {
		font-size: 12px;
		font-weight: 500;		
		margin-bottom: -1px;
	}

	&__network {
		font-size: 11px;
		color: #9599AD;
	}
}