.confirmation-details {
	display: flex;
	flex-direction: column;
	gap: 9px;
	border: 1px solid #E2E7F3;
	border-radius: 10px;
	padding: 16px 9px 16px 14px;
	margin-bottom: 16px;

	.hor & {
		flex-direction: row;
		gap: 14px;	
		order: 3;	
		width: 100%;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.hor &__item {
		justify-content: flex-start;
		gap: 6px;

		&:not(:first-of-type)::before {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #E2E6EE;
			margin-right: 8px;
		}
	}

	&__name {
		display: flex;
		align-items: center;
		gap: 6px;
		font-weight: 500;
		font-size: 11px;		
		color: #9599AD;

		img {
			width: 18px;
		}
	}

	.hor &__name {
		font-size: 12px;
	}

	&__value {
		font-weight: 500;
		font-size: 11px;
	}

	.hor &__value {
		font-size: 12px;
	}
}