.proccess-popup {

	&__token-info {
		display: flex;
		align-items: center;
		gap: 7px;
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 11px;

		span {
			display: flex;
			align-items: center;
			gap: 7px;
		}

		span:last-child::before {
			content: '';
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #C6CCD8;
		} 
	}

	&__token-icon {
		position: relative;
		width: 20px;
		height: 20px;		
	}

	&__token {		
		width: 20px;		
	}

	&__network {		
		width: 12px;		
		height: 12px;
		border-radius: 50%;
		border: 1px solid white;
		position: absolute;
		right: -3px;
		bottom: -3px;
	}

	&__sum {
		font-weight: 500;
		font-size: 42px;
		background: linear-gradient(90.15deg, #193EFF 25.47%, #0373FF 60.21%, #10E5F2 94.2%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		margin-bottom: 6px;
	}

	.hor & .service-popup__text_time {
		display: none;
	}

	.hor & .service-popup__text {
		margin-bottom: 30px;
	}

	&__pending {
		display: flex;
		align-items: center;
		gap: 8px;
		font-weight: 700;
		font-size: 14px;				
		color: #3B27F9;

		.loader-violet {
			width: 20px;
			height: 20px;
		}
	}

	&__success {
		display: flex;
		align-items: center;
		flex-direction: column;
		font-weight: 700;
		font-size: 14px;
		line-height: 1;
		gap: 4px;
		margin-bottom: 6px;
	}

	.hor &__success {
		flex-direction: row;
		gap: 8px;
	}
}