.replace-button {
	width: 2.9vw;
	height: 2.08vw;
	border-radius: .4vw;
	border: none;
	background: white url('../img/replace-button-icon.svg') no-repeat center;
	background-size: 50%;
	cursor: pointer;
}