.swap-popup {	
	display: flex;
	flex-direction: column;
	gap: 10px;

	.widget-popup__header {
		margin: 0;
	}
	
	&__title {
		font-weight: 800;
		font-size: 24px;
		line-height: 1.25;
		margin: 0 0 18px;
	}	

	&__header {
		flex: none;
	}

	&__search {
		position: relative;

		img {
			position: absolute;
			left: 10px;
			top: 12px;
			user-select: none;
		}
	}
	
	&__search-input {
		width: 100%;	
		flex: none;	
		border: 1px solid #E2E7F3;
		border-radius: 5px;
		height: 36px;
		font-size: 12px;
		font-weight: 500;
		outline: none;
		padding: 0 12px 0 30px;

		&:focus {
			border-color: #A1ADCA;
		}
	}

	&__loading {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 6px;
		font-weight: 600;
		font-size: 11px;
		line-height: 1.45;		
		color: #362DF9;
		margin-top: 85px;
	}

	&__tokens-cnt {
		display: flex;
		flex: auto;
	}

	&__source-tokens {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 40px;
		gap: 12px 8px;		
		flex: none;
		height: 220px;						
		overflow-y: scroll;		
		padding: 0 8px 0 0;
		margin-right: 10px;

		&::-webkit-scrollbar {
			width: 4px;					
		}
	
		&::-webkit-scrollbar-track {
			background: rgba(0, 113, 255, 0.08);
			width: 4px;			
		}
	
		&::-webkit-scrollbar-thumb {
			background-color: #4C76AA;
			border-radius: 2px;
		}
	}

	&__source-tokens-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 11px;
		text-decoration: none;
		height: 44px;
		border: 1px solid #EAEEFB;
		border-radius: 10px;		
		transition: all .1s;
		cursor: pointer;		
		padding: 0 5px;

		&.active {
			border-color: #362DF9;
		}

		&:hover:not(.active) {
			color: #362DF9;
			background: #EBF5FF;
			border-color: #EBF5FF;
		}		

		&_more {
			justify-content: center;
			color: var(--primary-blue);
		}

		img {
			width: 20px;
		}
	}

	&__tokens-list {		
		flex: auto;		
		height: 220px;				
		overflow-y: scroll;		
		position: relative;
		padding: 0 8px 0 0;		

		&::-webkit-scrollbar {
			width: 4px;			
		}
	
		&::-webkit-scrollbar-track {
			background: rgba(0, 113, 255, 0.08);
			width: 4px;			
		}
	
		&::-webkit-scrollbar-thumb {
			background-color: #4C76AA;
			border-radius: 2px;
		}
	}

	&__tokens-list-empty {
		display: flex;
		flex-direction: column;
		align-items: center;	
		padding: 60px 10px 0;	

		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: calc(100% - 5px);
			height: 100%;
			z-index: 1;
			background: url('../img/empty-list-bg.png') no-repeat center;
			background-size: cover;	
			border-radius: 16px;
		}

		img {			
			width: 32px;
			position: relative;
			z-index: 2;
			margin-bottom: 8px;
		}

		span:first-of-type {
			color: #362DF9;
			font-size: 11px;
			font-weight: 600;
			position: relative;
			z-index: 2;
			margin-bottom: 4px;
		}

		span:last-of-type {
			font-weight: 500;
			font-size: 11px;
			line-height: 1.27;			
			text-align: center;	
			position: relative;
			z-index: 2;		
			color: #9599AD;
		}
	}

	&__list-title {
		font-size: 14px;
		font-weight: 700;
		color: #4C76AA;	
	}

	&__select {
		margin-bottom: 32px;

		.select__dropdown {
			max-height: 200px;
			overflow-y: scroll;
		
			&::-webkit-scrollbar {
				width: 4px;
			}
		
			&::-webkit-scrollbar-track {
				background: rgba(0, 113, 255, 0.08);
				width: 4px;			
			}
		
			&::-webkit-scrollbar-thumb {
				background-color: #4C76AA;
				border-radius: 2px;
			}
		}
	}	

	&__owned-tokens {
		margin-bottom: 1.46vw;
	}

	&__all-tokens {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}